/*style.css*/
table{
  width: 100%;
  height: auto;
}

body{
    background-image:url('Images1/526031d8-c779-4a7f-b650-71a595151ca9.jpeg');
    background-size: cover;
    background-repeat:repeat;
    background-position: center;
    
}