/*style css*/
body{
    background-image: url('Images1/afeb0b2a-c623-4b24-a04f-8739d027c3f6.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background -position: center;
    font-family: Trebuchet MS;
}
h1{
    text-align: center;
    color: rgb(243,65,243);
    font-size: 30px;
}
p {
    color: lightyellow;
    font-size: 22px;
}
gras {
    font-weight: bold;
}
